<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif }
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.logo{
	position:absolute;
	top:0;
	left:350px;
}
</style>
<img src="http://www.up2me.co.il/imgs/21202371.png" class="logo">
<body>
<div class="w3-content" style="max-width:1500px">
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <div class="w3-padding-32">
    <div class="w3-bar w3-borde-0">
      <form action="AdminHomePage" method="POST">{% csrf_token %}
        <button onclick="location.href='http://127.0.0.1:8000/LoginStatus';" class=" w3-left w3-button w3-white w3-border w3-border-black w3-round-large" >HomePage </button>
    </form>
        <button onclick="location.href='http://127.0.0.1:8000/';" class="w3-right w3-button w3-white w3-border w3-border-black w3-round-large" >Logout </button>
      <form action="ADDTASKS" method="POST">{% csrf_token %}
  <td>
    <br>
    <input type="submit" value="back To project"  class="w3-button w3-white w3-border w3-border-black w3-round-large" id="beckToP" name="beckToP">
  </td>
</form>
<form action="ADDTASKS" method="POST" name="newtask" id="newtask">{% csrf_token %}
  <table style="text-align:center;" >
    <br><br>
    <tr>
      <td>
       <label for="USERSTORY">USER STORY:</label></br>
       <textarea id="USERSTORY" name="USERSTORY" rows="4" cols="50" required></textarea>
       </br></br>
      </td>
      <td>
        <label for="startDate" style="padding: 80px;" required>Estimated start:</label></br>
        <input type="datetime-local" id="startDate" name="startDate" onchange="setMinDate()"><br><br>
      </td>
      <td>
        <label for="programmer" style="padding: 50px;">Programmer:</label>      </br>
        <select id="programmer" name="programmer" property="true">
          {% for obj in Programmer %}
            <option value="{{obj}}">{{obj}}</option>
          {% endfor %}
        </select></br></br>
      </td>
    </tr>
    <tr>
      <td>
        <label for="TASKS">Tasks:</label></br>
        <textarea id="TASKS" name="TASKS" rows="4" cols="50" required></textarea>
        <br></br>
      </td>
      <td>
        <label for="endDate">Estimated end:</label></br>
        <input type="datetime-local" id="endDate" name="endDate" required><br><br>
      </td>
    </tr>
  <tr>
    <td>
    <br>
      <input type="submit" value="Submit"  class="w3-button w3-white w3-border w3-border-black w3-round-large" onclick="myFunction()">
      <script>
        function myFunction() {
            var a = document.forms["newtask"]["USERSTORY"].value;
            var b = document.forms["newtask"]["TASKS"].value;
            var c = document.forms["newtask"]["startDate"].value;
            var d = document.forms["newtask"]["endDate"].value;
            var cond = a != null && a != "" && b != null && b != "" && c != null && c != "" && d != null && d != "";
            if(cond){
                alert("Task successfully added to the project !");
            }
        }

        function setMinDate(){
          document.forms["newtask"]["endDate"].setAttribute("min", document.forms["newtask"]["startDate"].value);
          document.forms["newtask"]["endDate"].value = document.forms["newtask"]["startDate"].value;
        }
        function padZero(numericValue){
            if (numericValue < 10)
                return '0' + numericValue.toString();;
              
            return numericValue.toString();;
          }
          function createDateString() {     
            //  Take a Date value, and turn it into a "2005-05-26T11:37:42" string
            var date = new Date();
            
            var dateStr = date.getFullYear() + '-' + 
              this.padZero(date.getMonth()+1) + '-' +
              this.padZero(date.getDate()) + 'T' +
              this.padZero(date.getHours()) + ':' + 
              this.padZero(date.getMinutes());
            return dateStr;
          }
          document.forms["newtask"]["startDate"].setAttribute("min", createDateString());
      </script>
    </td>
  </tr>
    </table>
</form>
               </div>
  </div>
</header>
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>
</body>
</html>