<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>HomePage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif }
h1 {letter-spacing: 6px }s
.w3-row-padding img {margin-bottom: 12px}
.logo{
	position:absolute;
	top:0;
	left:350px;
}

</style>
<img src="http://www.up2me.co.il/imgs/21202371.png" class="logo">
<br><br><br><br><br><br><br>
<body>
<div class="w3-content">
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px; border: 0px solid #4CAF50">
  <div class="w3-padding-32">
    <div class="w3-bar w3-borde-0">
      <button onclick="location.href ='LOGIN'" class="w3-button w3-white w3-border w3-border-black w3-round-large">Login</button>
      <button onclick="location.href ='SIGNUP'" class="w3-button w3-white w3-border w3-border-black w3-round-large">Sign Up</button>
      <button onclick="location.href ='HowToUse'" class="w3-button w3-white w3-border w3-border-black w3-round-large">How to use</button>
   </div>
  </div>
</header>
<!-- End Page Content -->
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>
</body>
</html>