<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>How to use</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.logo{
	position:absolute;
	top:0;
	left:250px;
}
</style>
<img src="https://i.ibb.co/3FD9Cb6/2021-05-27-004950.png" class="logo">
<body>
<div class="w3-content" style="max-width:1500px">
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
    <u>
        <h2>Use guide:</h2>
        <h3>Home page:</h3>
    </u>
    <p>&emsp;•  &ensp;For an unregistered user - register for the site by clicking on the "sign up" button.</p>
    <p>&emsp;•  &ensp;Connect to the site by clicking on the "login" button and entering login information for the user as entered in the registration.</p>

</br>
</br>
    <u>
        <h3>Home page for current user:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;Show My Projects - View the projects for selection and further execution of actions.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Open New Project - Enter the page to fill in project details and create a new project.</p>

</br>
</br>
    <u>
        <h3>Project page:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;Viewing project details.</p>
    <p>&emsp;•  &ensp;Kanban board - Displays a kanban board for all user stories in the project.</p>
    <p>&emsp;•  &ensp;Back to user page - Back to main page for current user.</p>
    <p>&emsp;•  &ensp;Send mail - Enter the page to fill in email details and send to the desired users according to the current project and user type.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Change project details - Enter the Change project details page - only details that are filled in will be changed.</p>

</br>
</br>
    <u>
        <h3>Canban board page:</h3>
    </u>
    </br>
    <u>All users:</u>
    <p>&emsp;•  &ensp;View all user stories in the project to select in order to continue to the user story Page.</p>
    <p>&emsp;•  &ensp;A user story will be painted red according to the following conditions:</p>
    &emsp;&emsp;
    <label>1) The user's story is in Todo status and there are less than 7 days left to complete it.</label>
    </br>&emsp;&emsp;
    <label>2) The user story is in InProgress status and there are less than 5 days left to complete it.</label>
    </br>&emsp;&emsp;
    <label>3) The user story is in InTest status and there are less than 3 days left to complete it.</label>
    </br>
    </br>&emsp;&emsp;
    <label>* Otherwise the user's story stands at work times and will be colored green.</label>
    </br>
    </br>

    <u>Manager:</u>
    <p>&emsp;•  &ensp;Change the status of the user story execution.</p>
    </br>
    <u>Programmer:</u>
    <p>&emsp;•  &ensp;Change the status of the user story execution.</p>
    </br>
    <u>Client:</u>
    <p>&emsp;•  &ensp;Rating update for user stories performed (Done status).</p>
    

</br>
</br>
    <u>
        <h3>User story page:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;View details of the user story, including start and end dates, requirements and more.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Edit user story - change / delete user story - only details that are filled in will be changed.</p>
    <p>&emsp;•  &ensp;Beck to Project - back to the project page.</p>

    </br>
    </br>
         </div>
  </div>
</header>
<!-- End Page Content -->
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>
</body>
</html>