<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to use</title>
</head>
<body>
    <u>
        <h2>Use guide:</h2>
        <h3>Home page:</h3>
    </u>
    <p>&emsp;•  &ensp;For an unregistered user - register for the site by clicking on the "sign up" button.</p>
    <p>&emsp;•  &ensp;Connect to the site by clicking on the "login" button and entering login information for the user as entered in the registration.</p>

</br>
</br>
    <u>
        <h3>Home page for current user:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;Show My Projects - View the projects for selection and further execution of actions.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Open New Project - Enter the page to fill in project details and create a new project.</p>
    
</br>
</br>
    <u>
        <h3>Project page:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;Viewing project details.</p>
    <p>&emsp;•  &ensp;Kanban board - Displays a kanban board for all user stories in the project.</p>
    <p>&emsp;•  &ensp;Back to user page - Back to main page for current user.</p>
    <p>&emsp;•  &ensp;Send mail - Enter the page to fill in email details and send to the desired users according to the current project and user type.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Change project details - Enter the Change project details page - only details that are filled in will be changed.</p>
    <p>&emsp;•  &ensp; Add user story - Create and fill in new user story information.</p>
    &emsp;&emsp;
    <label>* Adding tasks to the user story will be done in the appropriate text box when at the beginning of each task there will be a number followed by a round bracket.</label>
    </br>&emsp;&emsp;
    <label>* There is no obligation to list the tasks in order but the numbering should match the desired order of tasks.</label>
    </br>&emsp;&emsp;
    <label>* You can choose whether to separate the lines from one task to another or not (no matter).</label>
    </br>&emsp;&emsp;
    <label>* You can list up to 9 tasks for one user story.</label>
    </br></br>&emsp;&emsp;&emsp;
    <label>For example:</label>
    </br>&emsp;&emsp;&emsp;
    <label style="white-space:pre-line">1) Task 1. 3) Task 3. 2) Task 2. &emsp;-> &emsp;1) Task 1.
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;2) Task 2.
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3) Task 3.</label>


</br>
</br>
    <u>
        <h3>Canban board page:</h3>
    </u>
    </br>
    <u>All users:</u>
    <p>&emsp;•  &ensp;View all user stories in the project to select in order to continue to the user story Page.</p>
    <p>&emsp;•  &ensp;A user story will be painted red according to the following conditions:</p>
    &emsp;&emsp;
    <label>1) The user's story is in Todo status and there are less than 7 days left to complete it.</label>
    </br>&emsp;&emsp;
    <label>2) The user story is in InProgress status and there are less than 5 days left to complete it.</label>
    </br>&emsp;&emsp;
    <label>3) The user story is in InTest status and there are less than 3 days left to complete it.</label>
    </br>
    </br>&emsp;&emsp;
    <label>* Otherwise the user's story stands at work times and will be colored green.</label>
    </br>
    </br>

    <u>Manager:</u>
    <p>&emsp;•  &ensp;Change the status of the user story execution.</p>
    </br>
    <u>Programmer:</u>
    <p>&emsp;•  &ensp;Change the status of the user story execution.</p>
    </br>
    <u>Client:</u>
    <p>&emsp;•  &ensp;Rating update for user stories performed (Done status).</p>
    

</br>
</br>
    <u>
        <h3>User story page:</h3>
    </u>
    <u>All users:</u>
    <p>&emsp;•  &ensp;View details of the user story, including start and end dates, requirements and more.</p>
    </br>
    <u>Manager:</u>
    <p>&emsp;•  &ensp;Edit user story - change / delete user story - only details that are filled in will be changed.</p>


    &emsp;&emsp;
    <label>Editing tasks:</label>
    </br>&emsp;&emsp;&emsp;
    <label>- Delete task - will be done by writing an empty task with the same number of tasks that we want to delete. For example, to delete task number 3, write - 3) in the Change task box.</label>
    </br>&emsp;&emsp;&emsp;
    <label>- Task change - will be done by numbering a task and writing it as a new task on the same number. For example, to change task number 1 we will write - 1) the content of a new task.</label>
    </br>&emsp;&emsp;&emsp;
    <label>- Adding tasks to the user story will be done in the appropriate text box when at the beginning of each task there will be a number followed by a round bracket.</label>
    </br>&emsp;&emsp;&emsp;
    <label>- Adding one task (only) to the end of the task list can be done by the task list without numbering, if there are 9 tasks, task 9 will be replaced by the newly written task.</label>
    </br>
    </br>&emsp;&emsp;&emsp;
    <label>* You can add new tasks with numbering and delete old ones in the same operation.</label>
    </br>&emsp;&emsp;&emsp;
    <label>* There is no obligation to list the tasks in order but the numbering should match the desired order of tasks.</label>
    </br>&emsp;&emsp;&emsp;
    <label>* You can choose whether to separate the lines from one task to another or not (no matter).</label>
    </br>&emsp;&emsp;&emsp;
    <label>* You can list up to 9 tasks for one user story.</label>
    </br></br>&emsp;&emsp;&emsp;
    <label>For example:</label>
    </br>&emsp;&emsp;&emsp;
    <label style="white-space:pre-line">1) 3) edited Task 3. 4) new task. &emsp; -> &emsp;  1) Task 2.
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;2) edited Task 3.
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;3) new task.</label>

        
    <p>&emsp;•  &ensp;Beck to Project - back to the project page.</p>

    </br>
    </br>
</body>
</html>