<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
        border: 1px solid black;
        }
</style>
</head>
<body>
<table style="width:100%;text-align:center;" >
  <tr>
    <th>To Do : </th>
    <th>In Progress : </th>
    <th>In Test : </th>
    <th>Done : </th>
  </tr>
  <tr>
    <td>
        {% for obj in todo %}
        <form action="TaskPageProgrammer" method='POST'>{% csrf_token %}
          <input type="submit" id="TASKNAME" name="TASKNAME" value={{obj}} style="border: none;margin:10px;">
          <button type="submit" id="passNext" name="passNext" value={{obj}} style="margin:10px;">next stage</button>
        </form>
        </br>
        {% endfor %}
    </td>
    <td>
        <form action="TaskPageProgrammer" method='POST'>{% csrf_token %}
        {% for obj in inprogress %}
        <button type="submit" id="returnStage" name="returnStage" value={{obj}} style="margin:10px;">beck stage</button>
        <input type="submit" id="TASKNAME" name="TASKNAME" value={{obj}} style="border: none;margin:10px;">
        <button type="submit" id="passNext" name="passNext" value={{obj}} style="margin:10px;">next stage</button>
      </br>
        {% endfor %}
        </form>
    </td>
    <td>
         <form action="TaskPageProgrammer" method='POST'>{% csrf_token %}
        {% for obj in intest %}
        <button type="submit" id="returnStage" name="returnStage" value={{obj}} style="margin:10px;">beck stage</button>
        <input type="submit" id="TASKNAME" name="TASKNAME" value={{obj}} style="border: none;margin:10px;">
        <button type="submit" id="passNext" name="passNext" value={{obj}} style="margin:10px;">next stage</button>
        </br>
        {% endfor %}
        </form>
    </td>
    <td>
        <form action="TaskPageProgrammer" method='POST'>{% csrf_token %}
        {% for obj in done %}
        <button type="submit" id="returnStage" name="returnStage" value={{obj}} style="margin:10px;">beck stage</button>
        <input type="submit" id="TASKNAME" name="TASKNAME" value={{obj}} style="border: none;margin:10px;">
        </br>
        {% endfor %}
        </form>
    </td>
  </tr>
</table>
<form action="ADDTASKS" method="POST">{% csrf_token %}
  </br></br>
  <input type="submit" value="back To project" id="beckToP" name="beckToP">
</form>
</body>
</html>