<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.logo{
	position:absolute;
	top:0;
	left:250px;
}

</style>

<img src="https://i.ibb.co/3FD9Cb6/2021-05-27-004950.png" class="logo">
<body>
<div class="w3-content" style="max-width:1500px">
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
        <h1 id="myId"></h1>
<script>
document.getElementById('myId').innerHTML=listCookies()
function listCookies() {
    var theCookies = document.cookie.split(';');
    var aString = '';
    for (var i = 1 ; i <= theCookies.length; i++) {
        aString += i + ' ' + theCookies[i-1] + "\n";
}
    return theCookies[5];
}
</script>
<form action="CreateProjDone" method="POST">{% csrf_token %}
            <label>Project Name : </label>
            </br>
            <input type="text" placeholder="Enter Project name" name="ProjectName" class="w3-button w3-white w3-border w3-border-black w3-round-large" id="ProjectName" required >
            </br>
            <label for="projectDescription">Description:</label> </br>
            <textarea id="projectDescription"  class="w3-button w3-white w3-border w3-border-black w3-round-large" name="projectDescription" placeholder="Tell us about you" rows="4" cols="50" style="margin: 0px;width: 363px;height: 60px;"> </textarea>
            </br>

            <div>
                <label><b>Choose Team </b> : </label>
                <table style="width:50%;text-align:left;" >
                            <tr>
                <th>Programmers : </th>
                <th>clients : </th>
            </tr>
            <tr>
                <td>
                {% for obj in programmers %}
                    <input type="checkbox" id="{{obj}}" class="w3-button w3-white w3-border w3-border-black w3-round-large" name="programmer" value="{{obj}}" >
                    <label for="{{obj}}"> {{obj}}</label>
                    <br>
                {% endfor %}
                </td>
                <td>
                {% for obj in clients %}
                    <input type="checkbox" id="{{obj}}" name="client" class="w3-button w3-white w3-border w3-border-black w3-round-large" value="{{obj}}">
                    <label for="{{obj}}"> {{obj}}</label>
                    <br>
                {% endfor %}

                </td>
            </tr>
                </table>
                <div>
            <button type="submit" class="w3-button w3-white w3-border w3-border-black w3-round-large" onclick="myFunction()">Creat Project</button>
            <script>
                function myFunction() {
                    alert("Project successfully created");
                }
            </script>
            <button type="button" class="w3-button w3-white w3-border w3-border-black w3-round-large" class="cancelbtn" > Cancel</button>
        </div>
            </div>
</form>
    </div>
  </div>
</header>
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>
