<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Programmer HomePage</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.logo{
	position:absolute;
	top:0;
	left:350px;
}
</style>
<img src="http://www.up2me.co.il/imgs/21202371.png" class="logo">
<body>
<div class="w3-content" style="max-width:1500px">
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
            <form action="LoginStatus" method="POST">{% csrf_token %}
        <button type="submit" name='bTuser' value="" class="w3-left w3-button w3-white w3-border w3-border-black w3-round-large">HomePage</button>
    </form>
        <button onclick="location.href='http://127.0.0.1:8000/';" class="w3-right w3-button w3-white w3-border w3-border-black w3-round-large" >Logout </button>
<form action="showMyProjects" method="POST">{% csrf_token %}
    {%if FName == "" or FName == None%}
        <h1>Programmer user</h1>
    {% else %}
        <h1>Hello {{FName}} {{LName}} (programmer)</h1>
    {% endif %}
    
    </br>
    <button class="w3-button w3-white w3-border w3-border-black w3-round-large">Show My Projects</button>
</form>
 </br>
<form action="ProjectPage" method='POST'>{% csrf_token %}
    {% for obj in projects %}
    <input type="submit" class="w3-button w3-white w3-border w3-border-black w3-round-large" id="ProjectName" name="Project" value={{obj}} style="border: none;">

    {% endfor %}
</form>

                       </div>
  </div>
</header>
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>
</body>
</html>