<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectPage</title>
</head>
<body>

    {%if MailEmsg %}
    <script type="text/javascript">
        alert("{{MailEmsg}}");
        </script>
    {% endif %}

<h1>Project view</h1>
<form action="ChangeDetailsPage" method="POST">{% csrf_token %}
    {% for key,value in PDetails %}
    <li><b>{{key}}: </b>
    <lable> {{value}}</lable>
    </li></br>
    {% endfor %}
    </br>
    <button type="submit" name='Project' value="">Change project details</button>
</form>
</br>
<form action="KanbanPage" method="POST">{% csrf_token %}
    <button type="submit" name='Project' value="">Kanban board</button>
</form>
</br>
<form action="AddTasks" method="POST">{% csrf_token %}
    <button type="submit" name='Project' value="">Add Tasks</button>
</form>
</br>
<form action="sendMailPage" method="POST">{% csrf_token %}
    <button type="submit" name='sendMailPage' value="">Send mail</button>
</form>
</br>
<form action="LoginStatus" method="POST">{% csrf_token %}
    <button type="submit" name='bTuser' value="">Back to user page</button>
</form>
</body>
</html>