<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectPage</title>
</head>
<body>

<h1>Project view</h1>
{% for key,value in PDetails %}
<li><b>{{key}}: </b>
<lable> {{value}}</lable>
</li></br>
{% endfor %}
</br>
<form action="KanbanPage" method="POST">{% csrf_token %}
    <button type="submit" name='Project' value="">Kanban board</button>
</form>
</br>
<form action="LoginStatus" method="POST">{% csrf_token %}
    <button type="submit" name='bTuser' value="">Back to user page</button>
</form>
</body>
</html>