<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for key,value in PDetails %}
        <li><b>{{key}}: </b>
        {% if key == "Tasks"%}
            </br>
            {% for x in value %}
                <lable>&emsp;&ensp;&ensp; {{x}}</lable>
                </br>
            {% endfor %}
            {% else %}
            <lable> {{value}}</lable>
            {% endif %}
        </li></br>
    {% endfor %}
    <form action="ADDTASKS" method="POST">{% csrf_token %}
        </br>
        <input type="submit" value="back To project" id="beckToP" name="beckToP">
    </form>
</body>
</html>