<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminHomePage</title>
</head>
<body>
<form action="showMyProjects" method="POST">{% csrf_token %}
    <h1>Hello admin user</h1>
    </br>
    <h1>Projects:</h1>
    <button>Show My Projects</button>
</form>
 </br>
<form action="ProjectPage" method='POST'>{% csrf_token %}
    {% for obj in projects %}
    <input type="submit" id="ProjectName" name="Project" value={{obj}} style="border: none;">
    </br>
    {% endfor %}
</form>
<button onclick="location.href ='NewProjectPage'">Open New Project </button>
</body>
</html>